tbody {
  font-size: 0.8em;
}

.msgbox-error {
	color: #D8000C;
	background-color: #FFBABA;
}

.orangeBg {
  background: #ff7e47;
	font-weight:bold;
}

.redBg {
  background: #ed4337;
	font-weight:bold;
}

.yellowBg {
  background: #ffffd5;
	font-weight:bold;
}

.grayBg {
  background: #d3d3d3;
	font-weight:bold;
}

.greenBg {
  background: #c0d890;
	font-weight:bold;
}

.child-row > td {
  padding:2px 0px 2px 5px;
  background: #d3d3d3;
}

button {
  background: white;
}

.close-alerts > a {
	color:#000;
}
