body {
	background-color:#040404;
}

h2, h3, h4 {
	color:#e46a6b;
}

th, td {
	color:#fff;
	border-color:#6e6e6e;
}

.msgbox-error {
	color: #D8000C;
	background-color: #FFBABA;
}

.orangeBg {
  background: #ff7e47;
	color:#3f3f3f;
	font-weight:bold;
}

.redBg {
  background: #ed4337;
	color:#3f3f3f;
	font-weight:bold;
}

.yellowBg {
  background: #ffffd5;
	color:#3f3f3f;
	font-weight:bold;
}

.grayBg {
  background: #d3d3d3;
	color:#3f3f3f;
	font-weight:bold;
}

.greenBg {
  background: #c0d890;
	color:#3f3f3f;
	font-weight:bold;
}

.child-row > td {
  padding:2px 0px 2px 5px;
  background: #3f3f3f;
	color:#dcdcdc;
}

button {
  background:#e46a6b;
	color:#040404;
}

.close-alerts > a {
	color:#cecece;
}

