tbody {
  font-size: 0.8em;
}

.msgbox {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 10px 25px;
}

#javascript-error {
  margin-top: 2%;
}

#main-content {
  margin-top: 5%;
}

.child-row > td {
  padding:2px 0px 2px 5px;
  background: #d3d3d3;
}

/* ≥ 568px */
@media screen and (max-width: 35.5em) {
  .visible-lg {
    display:none;
  }
}

@media screen and (min-width: 35.5em) {
  body {
    margin:0 2px 15px 0px;
  }
}

/* ≥ 768px */
@media screen and (max-width: 48em) {
  .visible-lg {
    display:none;
  }
}

@media screen and (min-width: 48em) {
  body {
    margin:0 5px 15px 0px;
  }

  .container {
    max-width: 1024px;
  }
}

/* ≥ 1024px */
@media screen and (min-width: 64em) {
  body {
    margin:0 5px 15px 0px;
  }

  .container {
    max-width: 1366px;
  }
}

/* ≥ 1280px */
@media screen and (min-width: 80em) {
  body {
    margin:0 5px 15px 0px;
  }

  .container {
    max-width: 1920px;
  }
}


/* Animations for alert rows */
.child-row.ng-enter,
.child-row.ng-leave,
.child-row.ng-move {
  transition: 0.5s linear all;
}

.child-row.ng-enter,
.child-row.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.child-row.ng-enter.ng-enter-active,
.child-row.ng-move.ng-move-active {
  height: 60px;
  opacity: 1;
}

.child-row.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.child-row.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

button {
	margin-top:4px;
}

.close-alerts {
	font-size:0.5em;
}

