<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Nagios/Monitorscout Dashboard</title>
  <meta name="description" content="Nagios/Monitorscout Dashboard">
  <meta name="author" content="Stefan Midjich">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/font-awesome.min.css">
  <link rel="stylesheet" media="screen" href="static/css/mondash.css">
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/mondash_dark.css" title="Dark">
  <link rel="alternate stylesheet" type="text/css" media="screen" href="static/css/mondash_light.css" title="Light">

</head>
<body>

  <div class="container">
    <noscript>
      <div class="row">
        <div class="six columns msgbox msgbox-error" id="javascript-error">
          <p>This site requires Javascript, you must enable Javascript to continue using it.</p>
        </div>
      </div>
    </noscript>

    <div class="row" id="main-content" ng-app="mondashApp">

      <div class="twelve columns">

        <div ng-controller="monitorscoutMonitorAlertsCtrl">
          <h3>Monitorscout monitor alerts</h3>

          <table class="u-full-width alerts-table" id="alert-monitorscout-monitor-table">
            <thead>
              <tr>
                <th>Hostname</th>
                <th>Monitor</th>
                <th>Status</th>
                <th>Output</th>
                <th class="visible-lg">Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="alert_count == 0">
                <td  colspan=5 style="text-align:center;">{{error}}</td>
              </tr>
              <tr class="parent-row" ng-repeat-start="(alert_id, alert) in alerts" ng-click="child.expanded = !child.expanded">
                <td>{{alert.hostname}}</td>
                <td>{{alert.monitor_name}}</td>
                <td ng-class="{'DOWN':'redBg', 'UP':'greenBg', '':'grayBg'}[alert.status]">{{alert.status}}</td>
                <td>{{alert.output | limitTo: output_cutoff }}{{alert.output.length > output_cutoff ? '&hellip;' : ''}}</td>
                <td class="visible-lg">{{alert.duration}}</td>
              </tr>
              <tr class="child-row" ng-init="child.expanded = false" ng-show="child.expanded" ng-repeat-end>
                <td colspan=3>
                  Organisation: {{alert.organisation_name}}<br />
                  Output: {{alert.output}}<br />
                  Duration: {{alert.duration}}<br />
                  <a href="https://www.monitorscout.com/device/{{alert.device}}">Open device in MS</a> &bull;
                  <a href="https://www.monitorscout.com/alert/unhandled/{{alert.type}}/{{alert.alert_id}}">Open alert in MS</a>
                </td>
                <td colspan=2>
                  <button ng-disabled="alert.buttons.acknowledge == 'Acknowledging'" ng-click="acknowledgeAlert(alert)" class="u-full-width">
                    <i ng-show="alert.buttons.acknowledge == 'Acknowledging'" class="fa fa-cog fa-spin" aria-hidden="true"></i>
                    {{alert.buttons.acknowledge}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <div ng-controller="monitorscoutDeviceAlertsCtrl">
          <h3 id="monitorscoutDeviceAlerts">
            Monitorscout device alerts
            <span class="close-alerts" ng-if="alert_count > 0">
              <a ng-click="acknowledgeAllAlerts(alerts)" href="#">Close all alerts</a>
            </span>
          </h3>

          <table class="u-full-width alerts-table" id="alert-monitorscout-monitor-table">
            <thead>
              <tr>
                <th>Hostname</th>
                <th>Alert name</th>
                <th>Output</th>
                <th class="visible-lg">Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="alert_count == 0">
                <td  colspan=4 style="text-align:center;">{{error}}</td>
              </tr>
              <tr class="parent-row" ng-repeat-start="(alert_id, alert) in alerts" ng-click="child.expanded = !child.expanded">
                <td>{{alert.hostname}}</td>
                <td>{{alert.monitor_name}}</td>
                <td class="redBg">{{alert.output | limitTo: output_cutoff }}{{alert.output.length > output_cutoff ? '&hellip;' : ''}}</td>
                <td class="visible-lg">{{alert.duration}}</td>
              </tr>
              <tr class="child-row" ng-init="child.expanded = false" ng-show="child.expanded" ng-repeat-end>
                <td colspan=2>
                  Output: {{alert.output}}<br />
                  Duration: {{alert.duration}}<br />
                  <a href="https://www.monitorscout.com/device/{{alert.device}}">Open device in MS</a> &bull;
                  <a href="https://www.monitorscout.com/alert/unhandled/{{alert.type}}/{{alert.alert_id}}">Open alert in MS</a>
                </td>
                <td colspan=2>
                  <button ng-disabled="alert.buttons.acknowledge == 'Acknowledging'" ng-click="acknowledgeAlert(alert)" class="u-full-width">
                    <i ng-show="alert.buttons.acknowledge == 'Acknowledging'" class="fa fa-cog fa-spin" aria-hidden="true"></i>
                    {{alert.buttons.acknowledge}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>

  <script src="static/js/jquery-1.12.4.min.js"></script>
  <script src="static/js/angular-1.5.7.min.js"></script>
  <script src="static/js/angular-animate-1.5.7.min.js"></script>
  <script src="static/js/mondashApp.js"></script>

</body>
</html>

